
*.exe
gyakorlatok/.vscode/c_cpp_properties.json
gyakorlatok/.vscode/settings.json
gyakorlatok/house/.vscode/c_cpp_properties.json
gyakorlatok/house/.vscode/settings.json
gyakorlatok/fox/.vscode/c_cpp_properties.json
gyakorlatok/fox/.vscode/settings.json
gyakorlatok/pongwithtexture/.vscode/c_cpp_properties.json
gyakorlatok/pongwithtexture/.vscode/settings.json
gyakorlatok/texturazas/.vscode/c_cpp_properties.json
gyakorlatok/texturazas/.vscode/settings.json
gyakorlatok/uv_map/.vscode/c_cpp_properties.json
gyakorlatok/uv_map/.vscode/settings.json
gyakorlatok/gyakorlas/.vscode/c_cpp_properties.json
gyakorlatok/gyakorlas/.vscode/settings.json
gyakorlatok/gyakorlas.zip
feladat/.vscode/c_cpp_properties.json
feladat/.vscode/settings.json
feladat/cube.obj
feladat/cube.png
feladat/textures/grass.jpg
feladat/textures/road.jpg
feladat/textures/mainhouse.png
feladat/models/mainhouse.obj
feladat/textures/house3.jpg
feladat/textures/house2.jpg
feladat/models/house3.obj
feladat/models/house2.obj
feladat/models/fence.obj
feladat/textures/fence.png
feladat/models/barrier.obj
feladat/textures/barrier.png
